page-login {
    .content-background {
        background-color: #039be5;
    }
    .app-name {
        color: white;
        font-size: 30pt;
        font-weight: bold;
        text-align: center;
    }
    .login_button {
        background-color: #4469B0
    }
}
