<ion-header>
  <ion-navbar>
    <ion-title>Trip</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Slides for Media -->
  <ion-slides pager *ngIf="isMask" initialSlide="{{slideIndex}}" loop="false">
    <ion-slide *ngFor="let media of mediaListForTrip[displayedStoryId] | async" (click)="closeSlides()">
      <img-loader [src]="media.downloadUrl" useImg></img-loader>
      <p class="media-location">{{media.location}}</p>
    </ion-slide>
  </ion-slides>

  <!-- Trip Info -->
  <ion-item no-lines *ngIf="!isMask">
    <div class="trip-name">{{trip.name}}</div>
    <div class="date">{{trip.createdDate}}{{(storyList | async)?.length ? ' - ' + (storyList | async)?.reverse()[0].createdDate : ''}}</div>
    <button item-end ion-button icon-start color="secondary" (click)="startStory()">
      <ion-icon name="play"></ion-icon>
      Start</button>
  </ion-item>

  <!-- Segment setting for stories and photos -->
  <ion-segment [(ngModel)]="selectedSegment" padding-left="1px" padding-right="1px" *ngIf="!isMask">
    <ion-segment-button value="stories">
      Stories ({{(storyList | async)?.length ? (storyList | async)?.length : 0}})
    </ion-segment-button>
    <ion-segment-button value="photos">
      Photos ({{photoCount}})
    </ion-segment-button>
  </ion-segment>

  <!-- Default Segment -->
  <div [ngSwitch]="selectedSegment" *ngIf="!isMask">
    <!-- Segment: stories -->
    <div *ngSwitchCase="'stories'">
      <ion-card *ngFor="let story of (storyList | async)" background-color="light">
        <div (click)="navToStory(story)">
          <ion-item class="story-name">{{story.name}}</ion-item>
          <img [src]="story.cover">
          <ion-item *ngIf="story.description" class="story-description">{{story.description}}</ion-item>
        </div>
        <ion-item>
          <div class="info" item-start>{{stayCount[story.key]}} stays</div>
          <div class="info" item-start>{{(mediaListForTrip[story.key] | async)?.length}} photos</div>
          <button ion-button outline small item-end (click)="editStory(story)">Edit</button>
        </ion-item>
      </ion-card>
    </div>

    <!-- Segment: photos (Grid View) s-->
    <div *ngSwitchCase="'photos'">
      <ion-list padding>
        <ion-item-group class="photo-divider" *ngFor="let story of (storyList | async)">
          <ion-item-divider class="story-name">{{story.name}}</ion-item-divider>
          <ion-grid>
            <ion-row class="row-center">
              <ion-col col-4 *ngFor="let media of mediaListForTrip[story.key] | async; let i = index" (click)="showSlides(i, story.key)">
                <img-loader [src]="media.downloadUrl" useImg></img-loader>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-group>
      </ion-list>
    </div>
  </div>

</ion-content>