<ion-header>
  <ion-navbar>
    <ion-title>Trip</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Slides for Media -->
  <ion-slides pager *ngIf="isMask" (ionSlideDidChange)="slideChanged()" initialSlide="{{slideIndex}}" loop="true">
    <ion-slide *ngFor="let media of mediaList" (click)="closeSlides()">
      <img [src]="media.fileUrl" />
      <h2 *ngIf="media.name">{{media.name}}</h2>
      <p>Location: {{media.location}}</p>
    </ion-slide>
  </ion-slides>

  <!-- Trip Info -->
  <ion-item no-lines *ngIf="!isMask">
    <div class="trip-name">{{trip.name}}</div>
    <div class="date">{{trip.createdDate}} - {{trip.createdDate}}</div>
    <button item-end ion-button icon-start color="secondary" (click)="startStory()">
      <ion-icon name="play"></ion-icon>
      Start</button>
  </ion-item>

  <!-- Segment setting for stories and photos -->
  <ion-segment [(ngModel)]="selectedSegment" padding-left="1px" padding-right="1px" *ngIf="!isMask">
    <ion-segment-button value="stories">
      Stories ({{storyCount}})
    </ion-segment-button>
    <ion-segment-button value="photos">
      Photos ({{photoCount}})
    </ion-segment-button>
  </ion-segment>

  <!-- Default Segment -->
  <div [ngSwitch]="selectedSegment" class="content-background" *ngIf="!isMask">
    <!-- Segment: stories -->
    <div *ngSwitchCase="'stories'">
      <ion-card *ngFor="let story of storyList | async" background-color="light">
        <div (click)="navToStory(story)">
            <ion-item class="story-name">{{story.name}}</ion-item>
            <img [src]="story.icon">
            <ion-item *ngIf="story.description" class="story-description">{{story.description}}</ion-item>
        </div>
        <ion-item>
          <div class="info" item-start>8 stays</div>
          <div class="info" item-start>18 photos</div>
          <button ion-button outline small item-end (click)="editStory(story)">Edit</button>
        </ion-item>
      </ion-card>
    </div>

    <!-- Segment: photos (Grid View) s-->
    <div *ngSwitchCase="'photos'">
      <ion-grid>
        <ion-row class="row-center">
          <ion-col col-4 *ngFor="let media of mediaList; let i = index" (click)="showSlides(i)">
            <img [src]="media.fileUrl">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>


<!-- style="overflow: hidden; height: 90px"  -->