page-trip {
    .content-background {
        // background-color: #f4f4f4;
    }
    .trip-name {
        color: red;
        font-size: 14pt;
        font-weight: bold;
    }
    .story-name {
        color: hotpink;
        font-size: 12pt;
        font-weight: bold;
    }
    .story-description {
        color: lightslategray;
        font-size: 10pt;
        margin-top: 3px;
    }
    .media-name {
        color: hotpink;
        font-size: 12pt;
    }
    .info {
        color: gray;
        font-size: 8pt; 
    }
    .date {
        color: gray;
        font-size: 8pt;
        padding: 2px; 
    }
}
