page-trip {
    .trip-name {
        color: red;
        font-size: 14pt;
        font-weight: bold;
    }
    .story-name {
        color: hotpink;
        font-size: 12pt;
        font-weight: bold;
    }
    .story-description {
        color: lightslategray;
        font-size: 10pt;
        margin-top: 3px;
    }
    .media-name {
        color: hotpink;
        font-size: 12pt;
    }
    .media-location {
        color: lightslategray;
        font-size: 12pt;
        padding-left: 1px;
        padding-right: 1px;
    }
    .info {
        color: gray;
        font-size: 8pt; 
    }
    .date {
        color: gray;
        font-size: 8pt;
        padding: 2px; 
    }
    .photo-divider {
        background-color: transparent;
    }
    .row-center {
        align-items: center;
    }
}
