page-home {
    .content-background {
        // background-color: #f4f4f4;
    }
    .user-name {
        color: lightcoral;
        font-size: 14pt;
    }
    .trip-name {
        color: red;
        font-size: 14pt;
        font-weight: bold;
    }
    .trip-description {
        color: lightslategray;
        font-size: 10pt;
        margin-top: 3px;
    }
    .trip-user {
        color: lightcoral;
        font-size: 8pt; 
    }
    .trip-date {
        color: gray;
        font-size: 8pt; 
    }
}
