<ion-header>
  <ion-navbar>
    <ion-title>
      iTrip
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only color="dark" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-background">

  <ion-item no-lines>
    <ion-avatar item-start>
      <img [src]="user.avater">
    </ion-avatar>
    <div class="user-name">{{user.name}}</div>
  </ion-item>

  <ion-item marigin-left="1px" marigin-right="1px" no-lines>
    <button ion-button block round color="danger" large strong icon-start (click)="addTrip()">
      <ion-icon name="add"></ion-icon>
      Create a new trip
    </button>
  </ion-item>

  <ion-card *ngFor="let trip of tripList | async">

    <ion-item (click)="navToTrip(trip)">
      <div class="trip-name">{{trip.name}}</div>
      <div *ngIf="trip.description !== ''" class="trip-description">{{trip.description}}</div>
    </ion-item>

    <ion-item>
      <div class="trip-user" item-start>{{user.name}}</div>
      <div class="trip-date">created on {{trip.createdDate}}</div>
      <button ion-button outline small color="primary" item-end z-index="1" (click)="editTrip(trip)">
        Edit
      </button>
    </ion-item>

  </ion-card>

</ion-content>