<ion-header>
  <ion-navbar>
    <ion-title>Story</ion-title>
    <ion-buttons end>
      <button ion-button color="danger" (click)="dropPoint()" strong>
        End</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button strong (click)="change()">
        Change</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <!-- Slides for Media -->
  <ion-slides pager *ngIf="isMask" (ionSlideDidChange)="slideChanged()" initialSlide="{{slideIndex}}" loop="true">
    <ion-slide *ngFor="let photo of photosForStay|async" (click)="closeSlides()">
      <img [src]="photo.downloadUrl" />
      <h2>media.name</h2>
      <p>Location: media.location</p>
    </ion-slide>
  </ion-slides>

  <div #map id="map" *ngIf="!isMask"></div>

  <!-- for stay info -->
  <!--<ion-item class="stay-detail" *ngIf="isShow" (click)="change()"> -->
  <ion-item class="stay-detail" *ngIf="isShow" (click)="change()">
    <h2 class="stay-name">Roller</h2>
    <p class="info">Universial Studio Singapore</p>
    <ion-row class="row-center" nowrap>
      <ion-col col-2 class="col" *ngFor="let photo of photosForStay | async; let i = index" (click)="showSlides(i)">
        <!-- <ion-col col-2 class="col" *ngFor="let photo of photosForStay|async; let i = index" (click)="showSlides(i)"> -->
        <img [src]="photo.downloadUrl" />

      </ion-col>
    </ion-row>
  </ion-item>

  <!-- footer for story info -->
  <ion-footer class="footer" *ngIf="!isMask">
    <ion-item no-lines>
      <p class="story-name">{{story.name}}</p>
      <p class="info">{{stayCount}} stays {{mediaCount}} photos</p>
      <button ion-button icon-only large item-end (click)="dropImage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item>
  </ion-footer>

</ion-content>