page-story {
    .no-scroll .scroll-content{
        overflow: hidden;
    }
    #map {
        height: 100%;
        z-index: -1;
    }
    .story-name {
        color: hotpink;
        font-size: 14pt;
        font-weight: bold;
    }
    .info {
        color: gray;
        font-size: 10pt; 
    }
    .stay-detail {
        // position: fixed;
        // display: block;
        position: fixed;
        bottom: 72px;
    }
    .stay-name {
        color: lightslategray;
        font-size: 14pt;
    }
    .row-center {
        align-items: center;
        overflow-x: scroll !important;
        overflow-y: hidden;
        word-wrap: break-word;
    }
    .footer {
        max-height: 72px;
        min-height: 72px;
        padding-left: 15px;
        background: rgba(255, 255, 255, 0.95);
        z-index: 0;
    }
}