<ion-header>
  <ion-navbar>
    <ion-title>Story</ion-title>
    <ion-buttons end>
      <button ion-button color="danger" (click)="endStory()" strong>
        End</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <!-- Slides for Media -->
  <ion-slides pager *ngIf="isMask" initialSlide="{{slideIndex}}" loop="false">
    <ion-slide *ngFor="let photo of photosForStay | async" (click)="closeSlides()">
      <img-loader [src]="photo.downloadUrl" useImg></img-loader>
      <!-- <p>photo.location</p> -->
    </ion-slide>
  </ion-slides>

  <div #map id="map"></div>

  <!-- for stay info -->
  <ion-item class="stay-detail" *ngIf="isShow">
    <!-- <p class="info">Location {{stayAddress}}</p> -->
    <ion-row class="row-center" nowrap>
      <ion-col col-2 class="col" *ngFor="let photo of photosForStay | async; let i = index" (click)="showSlides(i)">
        <img-loader [src]="photo.downloadUrl" useImg></img-loader>
      </ion-col>
    </ion-row>
  </ion-item>

  <!-- footer for story info -->
  <ion-footer class="footer" *ngIf="!isMask">
    <ion-item no-lines>
      <p class="story-name">{{story.name}}</p>
      <p class="info">{{(stayList | async)?.length ? (stayList | async)?.length : 0}} stays {{photoCount}} photos</p>
      <button ion-button icon-only large item-end (click)="dropImage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item>
  </ion-footer>

</ion-content>