page-story {
    #map {
        height: 80%;
    }

    .story-detail {
        position: fixed;
        display: block;
        bottom: 55px;
        width: 100%;
        min-height: 30px;
        background-color: rgba(255, 255, 255, 0.9);
      }
  
      .stay-detail {
        position: fixed;
        display: block;
        bottom: 55px;
        width: 100%;
        z-index: 1;
      }

    .footer {
        background: white;
    }
}